.no-record{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.btn-add{
  margin-top: 74px;
  margin-right: 89px;
  position:absolute;
  top:0;
  right:0;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.more-files {
  display: flex;
  float: left;
  padding: 10px 12px 0px 10px;

}
